
<table class="tx-kd-calendar" >
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.kind" />
		</td>
		<td>
		{event.kind}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.id" />
		</td>
		<td>
		{event.id}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.status" />
		</td>
		<td>
		{event.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.html_link" />
		</td>
		<td>
		{event.htmlLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.summary" />
		</td>
		<td>
		{event.summary}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.description" />
		</td>
		<td>
		{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.location" />
		</td>
		<td>
		{event.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.color_id" />
		</td>
		<td>
		{event.colorId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.end_time_unspecified" />
		</td>
		<td>
		{event.endTimeUnspecified}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.recurrence" />
		</td>
		<td>
		{event.recurrence}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.recurring_event_id" />
		</td>
		<td>
		{event.recurringEventId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.transparency" />
		</td>
		<td>
		{event.transparency}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.visibility" />
		</td>
		<td>
		{event.visibility}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.i_cal_u_i_d" />
		</td>
		<td>
		{event.iCalUID}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.sequence" />
		</td>
		<td>
		{event.sequence}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.attendees_omitted" />
		</td>
		<td>
		{event.attendeesOmitted}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.extended_properties" />
		</td>
		<td>
		{event.extendedProperties}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.hangout_link" />
		</td>
		<td>
		{event.hangoutLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.anyone_can_add_self" />
		</td>
		<td>
		{event.anyoneCanAddSelf}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.guests_can_invite_others" />
		</td>
		<td>
		{event.guestsCanInviteOthers}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.guests_can_modify" />
		</td>
		<td>
		{event.guestsCanModify}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.guests_can_see_other_guests" />
		</td>
		<td>
		{event.guestsCanSeeOtherGuests}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.private_copy" />
		</td>
		<td>
		{event.privateCopy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.locked" />
		</td>
		<td>
		{event.locked}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.use_default_reminder" />
		</td>
		<td>
		{event.useDefaultReminder}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.source_url" />
		</td>
		<td>
		{event.sourceUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_event.source_title" />
		</td>
		<td>
		{event.sourceTitle}
		</td>
	</tr>
</table>