<T3DataStructure>
	<meta>
		<langDisable>1</langDisable>
	</meta>
	<sheets>
		<sDEF>
			<ROOT>
				<TCEforms>
					<sheetTitle>LLL:EXT:kd_calendar/Resources/Private/Language/locallang_flexform.xlf:events.sheet.general</sheetTitle>
				</TCEforms>
				<type>array</type>
				<el>
					<settings.calendar>
						<TCEforms>
							<label>LLL:EXT:kd_calendar/Resources/Private/Language/locallang_flexform.xlf:events.settings.calendar</label>
							<config>
								<type>select</type>
								<foreign_table>tx_kdcalendar_domain_model_calendar</foreign_table>
								<renderType>selectMultipleSideBySide</renderType>
								<maxitems>1</maxitems>
							</config>
						</TCEforms>
					</settings.calendar>
					<settings.calendarSettings.maxEvents>
						<TCEforms>
							<label>LLL:EXT:kd_calendar/Resources/Private/Language/locallang_flexform.xlf:events.settings.calendarSettings.maxEvents</label>
							<config>
								<type>input</type>
								<size>30</size>
								<default>5</default>
								<eval>trim,int+</eval>
							</config>
						</TCEforms>
					</settings.calendarSettings.maxEvents>
					<settings.calendarSettings.start>
						<TCEforms>
							<label>LLL:EXT:kd_calendar/Resources/Private/Language/locallang_flexform.xlf:events.settings.calendarSettings.start</label>
							<config>
								<type>input</type>
								<size>30</size>
								<default>now</default>
								<eval>trim</eval>
							</config>
						</TCEforms>
					</settings.calendarSettings.start>
					<settings.calendarSettings.end>
						<TCEforms>
							<label>LLL:EXT:kd_calendar/Resources/Private/Language/locallang_flexform.xlf:events.settings.calendarSettings.end</label>
							<config>
								<type>input</type>
								<size>30</size>
								<default>+1 day</default>
								<eval>trim</eval>
							</config>
						</TCEforms>
					</settings.calendarSettings.end>
					<settings.eventDetails>
						<TCEforms>
							<label>LLL:EXT:kd_calendar/Resources/Private/Language/locallang_flexform.xlf:events.settings.eventDetails</label>
							<config>
								<type>input</type>
								<size>30</size>
								<eval>trim</eval>
								<wizards>
									<link>
										<type>popup</type>
										<title>LLL:EXT:cms/locallang_ttc.xlf:header_link_formlabel</title>
										<icon>link_popup.gif</icon>
										<module>
											<name>wizard_element_browser</name>
											<urlParameters>
												<mode>wizard</mode>
											</urlParameters>
										</module>
									</link>
								</wizards>
								<softref>typolink</softref>
							</config>
						</TCEforms>
					</settings.eventDetails>
				</el>
			</ROOT>
		</sDEF>
	</sheets>
</T3DataStructure>

