<T3DataStructure>
	<meta>
		<langDisable>1</langDisable>
	</meta>
	<sheets>
		<sDEF>
			<ROOT>
				<TCEforms>
					<sheetTitle>LLL:EXT:kd_kalendar/Resources/Private/Language/locallang_flexform.xlf:events.sheet.general</sheetTitle>
				</TCEforms>
				<type>array</type>
				<el>
					<settings.calendar>
						<TCEforms>
							<label>LLL:EXT:kd_kalendar/Resources/Private/Language/locallang_flexform.xlf:events.settings.calendar</label>
							<config>
								<type>select</type>
								<foreign_table>tx_kdcalendar_domain_model_calendar</foreign_table>
								<renderType>selectMultipleSideBySide</renderType>
								<maxitems>1</maxitems>
							</config>
						</TCEforms>
					</settings.calendar>
				</el>
			</ROOT>
		</sDEF>
	</sheets>
</T3DataStructure>

