<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{authUrl}">
		<f:then>
			<f:form action="authenticate">
				<label for="tx_kdcalendar_authCode">
					Auth code:
				</label>
				<f:form.textfield id="tx_kdcalendar_authCode" name="authCode" value="" placeholder="Please enter the auth code" />
				<f:form.submit value="Submit" />
				<input type="hidden" value="{authUrl}" id="tx_kdcalendar_authUrl"/>
			</f:form>
		</f:then>
		<f:else>
			<p class="success">
				Google calendar is authenticated
				<f:if condition="{calendarsLoaded}">
					<br />Calendars successfully loaded
				</f:if>
				<f:if condition="{eventsLoaded}">
					<br />Events successfully loaded
				</f:if>
			</p>
			<p>
				<f:link.action action="loadCalendars">Load calendars</f:link.action>
			</p>
			<f:if condition="{calendars}">
				<p>
					Load events for:
					<f:for each="{calendars}" as="calendar">
						<f:link.action action="loadEvents" arguments="{calendar: calendar}">{calendar.id}</f:link.action><br />
					</f:for>
				</p>
			</f:if>
		</f:else>
	</f:if>
</f:section>
