
<table class="tx-kd-calendar" >
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_calendar.kind" />
		</td>
		<td>
		{calendar.kind}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_calendar.id" />
		</td>
		<td>
		{calendar.id}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_calendar.summary" />
		</td>
		<td>
		{calendar.summary}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_calendar.description" />
		</td>
		<td>
		{calendar.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_calendar.location" />
		</td>
		<td>
		{calendar.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdcalendar_domain_model_calendar.time_zone" />
		</td>
		<td>
		{calendar.timeZone}
		</td>
	</tr>
</table>