
<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{events}">
		<div class="eventlist">
			<f:for each="{events}" as="event">
				<div class="event-item">
					<header>
						<div class="date">
							<f:render partial="Date" arguments="{date: event.start.date}" />
						</div>
					</header>
					<p class="black"><strong>{event.summary}</strong></p>
					<f:if condition="{event.location}">
						<p class="black">
							<f:link.external uri="https://www.google.de/maps/place/{event.location}/">{event.location}</f:link.external>
						</p>
					</f:if>
					<f:if condition="{event.attachments}">
						<p>
						<f:for each="{event.attachments}" as="attachment">
							<iframe src="https://drive.google.com/file/d/{attachment.fileId}/preview" width="200" height="250"></iframe>
						</f:for>
						</p>
					</f:if>
				</div>
			</f:for>
		</div>

		<f:if condition="{settings.eventDetails}">
			<div class="detail-link">
				<f:link.typolink class="more" parameter="{settings.eventDetails}"><f:translate key="seeall" /></f:link.typolink>
			</div>
		</f:if>
	</f:if>
</f:section>